body{
	font-family: 'Roboto', sans-serif;
	color: #696969;
}
a:link, a:active, a:visited{
	color: #A9A9A9;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
.linha{
/* Grid 960px(lembre-se da forma de trabalhar com essa grid pois ela será dividida por 12 que terá o resultado de 80px e desse valor você tera
que usar 10px para cada lateral de espaçamento) */
	width: 960px;
	margin: 0 auto; /*usado para centralizar a DIV*/
	overflow: auto;
	padding: 5px 0;
}
.coluna{
	padding: 0 10px; /*aqui você já começa a subtrair do 80px da grid de 960px. 10px para direita e 10 para esquerda */
	float: left;
}
}
.col1{
	width: 60px;
}
.col2{
	width: 140px;
}
.col3{
	width: 220px;
}
.col4{
	width: 300px;
}
.col5{
	width: 380px;
}
.col6{
	width: 460px;
}
.col7{
	width: 540px;
}
.col8{
	width: 620px;
}
.col9{
	width: 700px;
}
.col10{
	width: 780px;
}
.col11{
	width: 860px;
}
.col12{
	width: 940px;
}
/*Estilos reutilizaveis*/
.sem-padding{
	padding: 0 !important;
}
.sem-margin{
	margin: 0 !important;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 500;
	margin: 15px/*em cima*/ 0/*direita*/ 10px/*em baixo*/ 0/*esquerda*/;
}
ul li, ol li{
	margin-bottom: 5px; /* usado para dar maior espaçamento entre o texto acima e abaixo*/
}
ul.inline li, ol.inline li{
	display: inline;
	margin-right: 15px;
}
ul.inline li:last-child, ol.inline li:last-child{
	margin-right: 0; /*comando usado para se tirar do ultimo item da lista a margim isso vale tanto para ul quanto para ol*/
}
ul.sem-marcador, ol.sem-marcador{
	list-style: none;/*comando usado para se tirar a bolinha ou qualquer outro caracter afrente do texto/lista, pode-se usar na linha 72 para
	se tirar as bolinha do lado de cada SKill na pagina ABOUT*/
}
a.botão, input.button{
	background: #4169E1;
	padding: 5px 10px;
	border-radius: 3px;
	color: #ADD8E6;
	cursor: pointer;
	margin: 5px 0;
	display: inline-block;
	border: none;
}
a.botão:hover, input.button:hover{ /*comando usado para quando passar o mouse porcima dos botoes deve-se mudar de cor a caixa*/
	background: red;
	text-decoration: none;
}
img{
	max-width: 100%;/*Comando usado para ajustar a imagem a 100% de largura da DIV que esta inserida isso ajustará as imagens*/
	height: auto;
}
/*Layout do site*/
.header{/*Comando usado para definir a cor de fundo da parte aonde tem o começo e fim da Header no index2Correcoes.html*/
	background: Gainsboro;
}
h1.logo{
	font-weight: 500;
	color: Black;
	letter-spacing: -2px;
}
.conteudo-extra{
	background: #ef1f2ea;
}
.footer{
	background: Wheat;/*Usado para dar cor no campo footer preenchendo somente o fundo da tela aonde esta o elemento<footer></footer>*/
	color: Tomato;/*Usado para preencher as letras que estão dentro do campo footer*/
	padding: 20px 0;
	text-align: center;
	font-weight: 100;/*Usado para dar um formato mais fino na fonte do texto dentro do footer se vc aumentar o formado vai ficando mais negrito*/
}
.menu{
	text-transform: uppercase;/*Usado para mudar as letras das variaveis para maiucula*/
	text-align: right;/*Usado para alinhar conteudo do menu para direita*/
	margin-top: 25px;
}
.menu li a{
	padding: 5px 10px;
	border-radius: 3px;
}
.menu li a:hover{
	text-decoration: none;
	background: #4169E1;
	color: #ADD8E6;
}
ul.news a img{
	width: 70px;
	height: auto;
	margin-right: 10px;
	float:right;
}
ul.news li{
	list-style:none;
}
.form-group1{
	margin: 2px;
}
.form-group2{
	margin: 2px;
}
.form-group3{
	margin: 2px;
}
.form-group4{
	margin: 2px;
}
.areaDeTexto{
	height: 100px;
	width: 400px;
}
.subject{
	margin-left: 41px;
}
.email{
	margin-left: 30px;
}
